<!------------------------------------------------------------------------------------------------------------------------------------>
<!--                                                                                                                                -->
<!--  Login page where the user authenticates via a third party provider                                                            -->
<!--                                                                                                                                -->
<!------------------------------------------------------------------------------------------------------------------------------------>
<html>

<head>
  <!--LOAD PRE-REQUISITES FOR GOOGLE SIGN IN -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script src="//apis.google.com/js/platform.js?onload=start"> </script>
  <!-- END PRE-REQUISITES FOR GOOGLE SIGN IN -->
</head>

<body>

<!-- GOOGLE PLUS SIGN IN-->

  <div id="signinButton">
    <span class="g-signin"
      data-scope="openid email"
      data-clientid="1014181260954-mkb7vj2f3prbe1cjmokoam19aq20h7of.apps.googleusercontent.com"
      data-redirecturi="postmessage"
      data-accesstype="offline"
      data-cookiepolicy="single_host_origin"
      data-callback="signInCallback"
      data-approvalprompt="force">
    </span>
  </div>

<div id="result"></div>

<script>
function signInCallback(authResult) {
  if (authResult['code']) {
    // Hide the sign-in button now that the user is authorized
    $('#signinButton').attr('style', 'display: none');
    // Send the one-time-use code to the server. If the server responds successfully, write a 'login successful' message to the web page and then redirect back to the main catalog page. If the server responds unsuccessfully, redirect to the main catalog page, where the error message will be flashed.
    $.ajax({
      type: 'POST',
      url: '/gconnect?state={{STATE}}',
      processData: false,
      data: authResult['code'],
      contentType: 'application/octet-stream; charset=utf-8',
      success: function(result) {
        if (result) {
          $('#result').html(result)
          setTimeout(function() {window.location.href = "/";}, 4000);
        } else if (authResult['error']) {
          console.log('There was an error: ' + authResult['error']);
        } else {
          $('#result').html('Failed to make a server-side call. Check your configuration and console.');
        }
      },
      error: function() {
        window.location.href = "/";
      }
    });
  } else {
    $('#result').html('Login Unsuccessful. Error details follow: </br>'+ authResult['details'])
  }
}
</script>

<!--END GOOGLE PLUS SIGN IN -->

</body>

</html>
