<!------------------------------------------------------------------------------------------------------------------------------------>
<!--	                                                                                                                            -->
<!--	The  publiccategories page is shown as the homepage for a non-authenticated user who visits the site. Flashed messages, if  --> <!--    any, are shown. Then all categories and the latest added items are also displayed.                                          -->
<!--	                                                                                                                            -->
<!------------------------------------------------------------------------------------------------------------------------------------>
{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<div class="row hero-image">
		<div class="col-md-1"></div>
		<div class="col-md-11">
			<h1>Catalog App</h1>
		</div>
	</div>

	<div class = 'flash'>
		{% with messages = get_flashed_messages() %}
      		{% if messages %}
        		<ul>
        			{% for message in messages %}
            			<li> {{ message }} </li>
        			{% endfor %}
        		</ul>
        	{% endif %}
    	{% endwith %}
	</div>


	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-4">
			<h2> Categories </h2>
		</div>
		<div class="col-md-1"></div>
		<div class="col-md-1"></div>
		<div class="col-md-4">
			<h2> Latest Items </h2>
		</div>
		<div class="col-md-1"></div>
	</div>
	<div class="row padding-bottom">
		<div class="col-md-1"></div>
		<div class="col-md-4">
			{% for category in categories %}
				<a href = "{{url_for('showItems', name = category.name)}}">
					<h3></h3>{{category.name}}
				</a>
			{% endfor %}
		</div>
		<div class="col-md-1"></div>
		<div class="col-md-1"></div>
		<div class="col-md-4">
			{% for item in items %}
				<a href = "{{url_for('showItem', name = item.category.name, title = item.title)}}">
					<h3></h3>{{item.title}} ({{item.category.name}})
				</a>
			{% endfor %}
		</div>
		<div class="col-md-1"></div>
	</div>
{% endblock %}
